%div.item
  %div.above
    %input.insertabove{:type=>"text"}
  %div.center
    %a.minimize
      [-]
    %span.content
      = comment.content
    %a.edit
      edit
    %a.delete
      delete
  %div.below
    %input.insertbelow{:type=>"text"}
    %input.insertunder{:type=>"text"}
