body {
	background-color: #F7F7F7;
	font-family: 'EB Garamond', serif;
}

header {
	font-family: 'Permanent Marker', cursive;
	font-size: 1.3em;
	padding: 0.3em 0;
	border-bottom: 0.3rem solid black;
	overflow: hidden;
}

footer {
	clear: both;
	padding-top: 1.2rem;
}

footer .content {
	color: gray;
	padding: 0.4rem 0;
	border-top: 0.1rem solid gray;
}

footer ul {
	padding-bottom: 0.5rem;
}

header #logo, .top .content , header .right li :hover, footer .right li :hover{
	text-shadow: 0.07em 0.07em orange;
}

header .left, footer .left {
	float: left;
	margin-left: 2em;
}
header .right, footer .right {
	float: right;
	margin-right: 2em;
}

header li, footer li {
	display: inline;
	margin: 0 0.5em;
}

header a, footer a {
	text-decoration: none;
}

header a {
	color: black;
}

footer a {
	color: gray;
}

#main {
	width: 88%;
	margin: 0 auto;
}

#content {
	width: 80%;
	float: left;
}

#main {
	margin-bottom: 2em;
}

#main ul {
	padding-left:2em;
	margin-top:0.7em;
}

#content li {
	display: inline;
}

.category .content, .top .content {
	font-family: 'Permanent Marker', cursive;
}

.category .content {
	text-shadow: none;
}

.idea .content, .comment .content, .items{
	font-family: 'EB Garamond', serif;
}

.insert {
	position: absolute;
}

.insert {
	color: orange;
	margin-top: -0.5rem;
	font-size: 0.8em;
}

.minimize {
	font-family: monospace;
	margin-left: -1rem;
	margin-top: 0.18rem;
	font-size: 0.7em;
}

.edit, .delete {
	font-size: 0.8em;
	color: gray;
}

.maximize {
	font-family: monospace;
	font-size: 0.7em;
	display: inline;
	float: left;
}

.betweenline {
	font-size: 0.8em;
	display: inline;
	float: left;
	margin-left: 0.5em;
}

.hidden {
	position: absolute;
	margin-top: -0.3rem;
	padding-left: 0;
}

.hidden {
	color: gray;
}

nav {
	width: 20%;
	float: right;
	background-color: gray;
}
